<div id="footer" class="footer-container">
    <div class="footer-wrapper">
        <div class="left-panel">
            <h3>Dipranjan</h3>
            <p>Fullstack web developer</p>
            <p>UI design expert</p>
            <p>Frontend solution provider</p>
        </div>
        <div class="center-panel">
            <h3>Connect with me</h3>
            <div class="contact-details">
                <a href="https://www.facebook.com/dipranjan.das.5"><img src="/images/facebook.png" alt="Facebook"></a>
                <a href="https://github.com/dipranjanJS"><img src="/images/github.png" alt="github"></a>
                <a href = "mailto: dipranjan16oct@gmail.com"><img src="/images/gmail.png" alt="gmail"></a>
                <a href="https://www.linkedin.com/in/dipranjan-das"><img class="linkedin-img" src="/images/linkedin.png" alt="Facebook"></a>
            </div>
        </div>
        <div class="right-panel">
            <h3>Address</h3>
            <p>Siliguri</p>
            <p>S.P.Mukherjee Road</p>
            <p>Dist- Darjeeling</p>
            <p>West bengal 734011</p>
            <p>Contact- 9002126156</p>
        </div>
    </div>
    <div class="copyright">
        <sort> &#169; Copyright Dipranjan Das 2021</sort>
    </div>
</div>