<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Dipranjan</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#technology">Technology</a></li>
        <li><a href="#technology">Projects</a></li>
        <li><a href="#footer">Contact</a></li>
      </ul>
    </div>
  </nav>