html {
    scroll-behavior: smooth;
}
body {
    overflow-y: auto;
    scroll-behavior: smooth;
}
.navbar {
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.hero-banner {
    background-image: url("/images/hero-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    position: absolute;
    color: white;
    transform: translate(-50%, 50%);
    left: 50%;
    text-align: center;
}
.content h4 {
    line-height: 2;
}
.welcome-container {
    min-height: 80vh;
}
.resume {
    border: 1px solid transparent;
    padding: 9px;
    background: white;
    color: black;
    border-radius: 11px;
}
.resume:hover, .resume:focus {
    text-decoration: none;
}
.title {
    text-align: center;
}
.tech-names {
    display: flex;
    padding: 15px;
    justify-content: center;
}
.tech-names p {
    border: 1px solid transparent;
    background: #d8cbcb;
    padding: 10px;
    box-shadow: 5px 0px 8px #888888;
    margin-right: 25px;
}
.tech-names p:hover {
    box-shadow: 5px 10px 8px #888888;
}
.projects {
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 7%;
}
.project-container {
    width: 320px;
    padding: 10px 25px;
    background: whitesmoke;
    box-shadow: 5px 10px 5px #e6dfdf;
    margin-bottom: 20px;
    background: #e6dfdf;
}
.project-img img {
    width: 100%;
    max-height: 130px;
    object-fit: contain;
}
.project-details h5 {
    font-weight: bold;
}
.project-details p {
    color: darkcyan;
}
.view {
    display: block;
    width: 25%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 1px 3px 15px;
}
.view:active {
    box-shadow: 0px 0px 0px;
    transform: translate(0, 4px);
}
.footer-container {
    bottom: 0;
    background: black;
    color: white;
    width: 100%;
    padding: 15px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
}
.copyright {
    text-align: center;
}

.contact-details {
    text-align: center;
}
.contact-details img {
    width: 25px
}

.linkedin-img {
    margin-top: 4px;
}

@media (max-width: 767px) {
    .projects {
        display: grid;
        grid-row-gap: 25px;
        grid-template-columns: 1fr;
        margin-left: 0;
    }
    .project-container {
        width: auto;
        margin-bottom: 0;
        box-shadow: 0px 10px 6px #b7b0b0;
        padding: 10px 25px 20px;
    }
    .tech-names {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 15px;
    }
    .tech-names p {
        text-align: center;
        margin-right: 0;
    }
    .welcome-container {
        min-height: 50vh;
    }
    .content {
        width: 100%;
        padding: 0 15px;
    }
    .content h1 {
        font-size: 24px;
        margin: 0;
    }
    .content h3 {
        font-size: 15px;
        margin-top: 8px;
    }
    .footer-wrapper {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
    .navbar-header {
        margin-left: 20px;
    }
    .navbar-nav {
        width: 50%;
        float: right;
    }
}
